<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Hello WorkOs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/preflight.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/modern-normalize@0.5.0/modern-normalize.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/utilities.min.css" rel="stylesheet" />
  </head>

  <body>
    <nav class="flex items-center justify-between flex-wrap bg-black p-2">
      <div class="flex items-center flex-no-shrink text-white mr-6">
        <span class="font-semibold text-xl tracking-tight pl-1">WorkOS SSO Demo</span>
      </div>

      <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
        <div class="text-sm lg:flex-grow"></div>
        <br />
        <div>
          <a
            class="inline-block no-underline text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-black hover:bg-pink-100 mt-4 lg:mt-0"
            id="schedule-meeting-button"
            href="https://dev-04820583.okta.com/signin/register"
          >
            Autoprovisioning Sign Up
          </a>
        </div>
      </div>
    </nav>
    <div>
      <h1></h1>
    </div>
    <div class="flex flex-col content-center items-center justify-center">
      <br />
      <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="https://tailwindcss.com/img/card-top.jpg" alt="Sunset in the mountains" />
      </div>
      <div>
        <a
          class="inline-block no-underline text-sm px-4 py-2 leading-none border rounded text-black border-black hover:border-transparent hover:text-black hover:bg-pink-100 mt-4 lg:mt-0"
          id="schedule-meeting-button"
          href="/auth"
        >
          Manual Sign Up
        </a>
      </div>
    </div>
  </body>
</html>
